<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login MovieFriends</title>
    <!-- Bootstrap-->
    <link th:href="@{resources/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<form action="/login" id="login-form">
  			Email: <input type="text" id="loginEmail"><br>
  			Contraseña: <input type="password" id="loginPassword"><br>
			<button id="loginFormButtom">Login</button>
		</form>
    </div>	
</body>
</html>